  <html lang="en" >
  <head>
    <link href="http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Cairo|Josefin+Slab" rel="stylesheet">

  </head>
  <body ng-app="AppComponent" ng-cloak ng->
    <div style = "text-align: center">
        <h1> {{title}} </h1>
      <div padding:10px>
        <input #box type="text" class = "input-underline" required md-maxlength="10">
        <button class = "rounded-btn" (click) = "sendRequest(box.value)">Send</button>
      </div>
      <h2> {{ (AlfredResponse | async)?.message }} </h2>
    </div>

  </body>

  </html>
